[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# IDE0067: Dispose objects before losing scope
dotnet_diagnostic.IDE0067.severity = silent
